.header{
    font-family:lobster;
    color:deepskyblue;
}
h1{
	  font-family: 'Lobster';
	  color: black;
}
	
h3,p,h4{
	  font-family: 'Lobster',Helvetica,Arial,sans-serif;
	  color: black;
	}
h3{
    line-height: 33px !important;
    font-weight: 20px !important;
}
.a-text{
    font-family: helvetica !important;
}
#area {
    padding:50px;
    height:500px;
    
    
    background-color: orange;
    }
li:hover{
    text-decoration: none !important;
}
footer{
    margin-top: 1px;
    height:50px !important;
}
.bg-g{
    background-color: gray;
}